# THIS IS JUST SAMPLE DATA TO STOP IT SAYING THERE IS AN ERROR


name: Weather Pipeline CI/CD # This is the name of the github action

on: # When to trigger
  push:
  schedule: #Triggered via a schedule
    - cron: "0 */2 * * *" #This will ruin every 2 hours
  workflow_dispatch:

permissions:
  contents: write # This allows it to overwrite our files, which we need it to do with the .csv file and the .json

jobs:
  test_and_fetch:
    runs-on: ubuntu-latest #This is the runner

    steps:
      - name: Checkout repo #Just the name of the step
        uses: actions/checkout@v4 #Preexisting github action, to checkout the git

      - name: Use Node.js
        uses: actions/setup-node@v4 #Again, tells the github action to use a preexisting node simulator
        with:
          node-version: "22"

      - name: Cache Node modules
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('package-lock.json') }}  #This is reading and copying our json-lock package

      - name: Install dependencies
        run: npm ci # ci will install the exact version on the package lock

      - name: Fetch latest Weather
        env:
          WEATHER_API_KEY: ${{ secrets.WEATHER_API_KEY }} # We want to fetch the weather key, but store it someone secretly
          CITY: ${{ secrets.CITY }}
        run: node fetchWeather.js

      - name: Commit weather data if changed
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add data/weather.json data/weather_log.csv || true
          git commit -m "ci: update weather data" || echo "No changes to commit"
          git push || echo "Push failed or no changes"

      - name: Trigger Render Deploy
        run: curl -X POST ${{ secrets.RENDER_DEPLOY_HOOK }} #This will push a deploy to Render, and will update the existing deployment there
